/* Custom Properties */
:root {
    --bg-header: #255ee9;
    --main-white: #ffffff;
    --main-black: #23272a;
    --discord-violet: #7289da;
}

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

hr {
    border-color: var(--discord-violet);
}

/* COMMON */
/* Layout */
.container {
    max-width: 1100px;
    margin: 0 auto;
    width: 80%;
}

/* Header */
.header {
    background-color: var(--bg-header);
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.logo {
    width: 25%;
}

.discord-logo {
    width: 100px;
}

.nav-list {
    width: 50%;
    text-align: center;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--main-white);
    font-weight: 500;
    gap: 22px;
}

.nav-list a {
    font-size: 0.7rem;
}

.login {
    width: 25%;
    text-align: end;
}

.login a {
    border: 1px solid var(--main-white);
    padding: 5px 8px;
    background-color: var(--main-white);
    border-radius: 20px;
    font-size: 0.7rem;
    
}

/* Hero Banner */
.hero-banner {
    display: flex;
    justify-content: center;
    background: url(../img/jumbo.png);
    background-size: cover;
    background-position: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.hero-img {
    width: 60%; 
    color: var(--main-white);
    text-align: center;
    padding: 15px;
    align-items: center;
}

.hero-img h1{
    font-size: 2rem;
}

.hero-img p {
    line-height: 1.5;
    font-size: 0.9rem;
    font-weight: 300;
}

.hero-img a {
   padding: 8px;
   border: 1px solid transparent;
   border-radius: 20px;
   font-size: 0.9rem;
}

.dwl-mac {
    border-color: var(--main-white);
    background-color: var(--main-white);
    color: var(--main-black);
}

.browser {
    border-color: var(--main-black);
    background-color: var(--main-black);
    margin-left: 10px;
    text-wrap: nowrap;
}


/* Sections*/
.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.row2 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.col-60 {
    width: 60%;
}

.col-40 {
    width: 40%;
    padding: 0 20px;
}

.feat-title {
    font-size: 2rem;
}

.col-100 {
    width: 100%;
}

.stars {
    margin-top: 10px;
    text-align: center;
}

.stars-img {
    width: 24rem;
    margin-bottom: -15px;
}

.dwl-mac2 {
    border: 1px solid var(--discord-violet);
    padding: 8px;
    border-radius: 20px;
    background-color: var(--discord-violet);
    color: var(--main-white);
    cursor: pointer;
    font-size: 0.8rem;
}


/* Footer */
.footer {
    padding-top: 40px;
    font-size: 0.7rem;
    background-color: var(--main-black);
    color: var(--main-white);
}

/* Footer Top */
.footer-top {
    margin-bottom: 10px;
}
.footer-top li {
    margin-bottom: 10px;
}

.footer-top i {
    margin-top: 5px;
    margin-right: 15px;
    font-size: 0.9rem;
}

.col-footer-big {
    width: calc(100% / 5);
    flex: 2;
} 

.col-footer-big h4 {
    font-size: 1.5rem;
    color: var(--discord-violet);
    margin-bottom: 15px;
}

.col-footer {
    width: calc(100% / 5);
    flex: 1; 
}

.col-footer li:first-of-type {
    color: var(--discord-violet);
    font-weight: 600;
}

.language .ita {
    width: 20px;
    vertical-align: bottom;
}

.language i {
    font-size: 0.6rem;
}

/* Footer Bottom */
.footer-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-bottom {
    padding-bottom: 40px;
}

.footer-logo {
    width: 100px;
}

.register {
    border: 1px solid var(--discord-violet);
    padding: 5px 8px;
    background-color: var(--discord-violet);
    border-radius: 20px;
    font-size: 0.7rem;
}

/* Utilities */
.pd-5 {
    padding: 5px;
}

.pd-tb20 {
    padding: 20px 0;
}

.mt-10 {
    margin-top: 10px;
}

.mt-20 {
    margin-top: 20px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mb-50 {
    margin-bottom: 50px;
}

.ta-center {
    text-align: center;
}

.gray {
    background-color: #d3d3d3;
}
